# Source files
src/
examples/
test/
uploads/

# Config files
.eslintrc.js
.prettierrc
.editorconfig
.gitignore
webpack.config.js
tsconfig.json
tsconfig.*.json
nest-cli.json
.env*

# IDE files
.vscode/
.idea/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Development files
swagger-spec.json

# Coverage directory
coverage/
.nyc_output/

# Temp directories
.tmp/
temp/

# Include only dist files
!dist/